.root {
    overflow-y: auto;
}

.icon {
    width: 4.5rem;
    height: 4.5rem;
    margin:  0.5rem 1rem;
}

.sidenav .closebtn {
    font-size: 2rem;
    text-align: right;
    padding-right: 1rem;
}

.navbarToggle img {
    position: absolute;
    left: 0;
    top: 0;
    margin: 2.5rem;
    transition: 0.7s;
}

.navbarToggle img:hover {
    filter: invert(95%);
}

.sidenav {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    overflow-x: hidden;
    transition: 0.7s;
}