.root {
    height: 100%;
    min-height: 100vh;
    padding: 0;
    background-color: rgba( 52, 58, 64, 0.9);
}

.header img {
    border: 5px;
    border-color: white;
    border-style: solid;
    width: 100%;
}

.sidenav {
    float: left; 
    max-width: 100%;
    width: 20rem;
    max-height: 100%
  }